body, html {
    height: 100%; 
    margin: 0;
    font-family: "Roboto";
}

.background {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), /* This is the dark overlay */
        url('wesmoBackGround.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
    min-height: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    color: rgb(255, 255, 255);
}
.navbar a {
    color: rgb(218, 217, 217);
    margin: 0 1rem;
    text-decoration: none;
    padding: 1rem 1rem; 
    transition: background-color 0.3s; 
    font-weight: 100;
    font-size: medium;
}
.navbar a:hover {
    color: white;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-right {
    display: flex;
    align-items: center;
}
#logo{
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    margin: 0px;
    margin-right: 30px;
    cursor: pointer;
}

#mainTitle{
    padding: 70px;
}
#year{
    margin-top: 100px;
    background-color: rgb(228, 32, 32);
    width: 90px;
    text-align: center;
    padding: 10px;
    color: rgb(230, 230, 230);
    font-weight: 100;
}
h1{
    font-size: 70px;
    max-width: 1000px;
}
#subTitle{
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 200px;
}
#imgLogo{
    width: 270px;
}
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .nav-left,
    .nav-right {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0rem;
    }

    #logo {
        margin-right: 0;
        margin-bottom: 0rem;
        padding-bottom: 0px;
    }

    .navbar a {
        margin: 0px;
        padding: 1rem;
    }

    #mainTitle {
        padding: 2rem;
    }

    h1 {
        font-size: 45px;
        margin-top: 1rem;
    }

    #year {
        margin-top: 1rem;
        width: 70px;
        font-size: 14px;
        padding: 5px;
    }

    #subTitle {
        font-size: 14px;
    }
    .background {
        background-position: center;
    }
}
