
body, html {
    height: 100%; 
    margin: 0;
    font-family: "Roboto";
}

.background {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), /* This is the dark overlay */
        url('wesmoBackGround.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
    min-height: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    color: rgb(255, 255, 255);
}
.navbar a {
    color: rgb(209, 207, 207);
    margin: 0 1rem;
    text-decoration: none;
    padding: 1rem 1rem; 
    transition: background-color 0.3s; 
    font-weight: 100;
    font-size: medium;
    letter-spacing: 1px;
}
.navbar a:hover {
    color: white;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-right {
    display: flex;
    align-items: center;
}
#logo{
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    margin: 0px;
    margin-right: 30px;
    cursor: pointer;
}

#mainTitle{
    padding: 70px;
    padding-top: 50px;
}
#year{
    background-color: rgb(225, 9, 9);
    width: 90px;
    text-align: center;
    padding: 10px;
    color: rgb(230, 230, 230);
    font-weight: 100;
}
h1{
    font-size: 60px;
    max-width: 700px;
}
#subTitle{
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 200px;
    cursor: pointer;
    border-bottom: 1px solid white;
    width: fit-content;
}
#imgLogo{
    width: 270px;
}
#typewriter {
    margin-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 0.2em;
    position: relative;
    height: 1.4em; /* Adjust as needed */
    align-items: center;
  }
  
  #typewriter::after {
    content: '|';  /* The cursor */
    position: absolute;
    animation: blink 0.5s infinite;
  }
 
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  #wesmo{
    color: red;
    font-style: italic;
  }
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .nav-left,
    .nav-right {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0rem;
    }

    #logo {
        margin-right: 0;
        margin-bottom: 0rem;
        padding-bottom: 0px;
    }

    .navbar a {
        margin: 0px;
        padding: 1rem;
    }

    #mainTitle {
        padding: 2rem;
    }

    h1 {
        font-size: 45px;
        margin-top: 1rem;
    }

    #year {
        margin-top: 1rem;
        width: 70px;
        font-size: 14px;
        padding: 5px;
    }

    #subTitle {
        font-size: 14px;
    }
    .background {
        background-position: center;
    }
}
